data:
  email: "daniel@hagyarossy.hu"
  name: "Dániel Hagyárossy"

git:
  autoCommit: true
  autoPush: true

edit:
  {{ if (or (eq .chezmoi.hostname "aiyura" ) (.chezmoi.hostname | contains "dev") (eq .chezmoi.hostname "aeon")) }}
  command: "code --wait"
  {{ else }}
  command: "vi"
  {{ end }}
