data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}

git:
  autoCommit: true
  autoPush: true

edit:
  {{ if (or (eq .chezmoi.hostname "aiyura" ) (.chezmoi.hostname | contains "dev") (eq .chezmoi.hostname "aeon")) }}
  command: "code --wait"
  {{ else }}
  command: "vi"
  {{ end }}
