# ~/.gitconfig

[includeIf "hasconfig:remote.*.url:git@ssh.code.roche.com:*/**"]
    path = .gitconfig-roche
[includeIf "hasconfig:remote.*.url:*://*@bitbk.roche.com*/**"]
    path = .gitconfig-roche
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = .gitconfig-personal

[user]
	name = {{ .name | quote }}
	signingkey = AE47445763C2B713

[init]
  defaultBranch = main

[commit]
	gpgsign = true
