# vim: syntax=bash
#
# gitignore.io
function gi() { curl -sLw "\n" https://www.toptal.com/developers/gitignore/api/$@ ;}

# Oh My Zsh settings
DISABLE_AUTO_UPDATE="true"
export ZSH=$HOME/.oh-my-zsh

# ZSH_THEME="powerlevel10k/powerlevel10k"
plugins=(history zsh-syntax-highlighting)

## Plugin configuration
if command -v git &>/dev/null; then
  plugins+=("git");
fi

if [[ (-x /usr/bin/grc || -x /usr/local/bin/grc) && -f /etc/grc.zsh ]]; then
  plugins+=("grc");
fi

if [[ -x ${HOME}/.local/bin/poetry ]]; then
  plugins+=("poetry");
fi

if [[ -d ${HOME}/.pyenv ]]; then
  export PYENV_ROOT="${HOME}/.pyenv"
  export PATH="${PYENV_ROOT}/bin:$PATH"
  eval "$(pyenv init --path)"
  plugins+=("pyenv");
fi

if command -v code &>/dev/null; then
  plugins+=("vscode");
fi

if command -v kubectl &>/dev/null; then
  plugins+=("kubectl");
fi

source $ZSH/oh-my-zsh.sh <$TTY

[[ -f ~/.zsh/starship.zsh ]] && source ~/.zsh/starship.zsh
[[ -f ~/.zsh/gpg.zsh ]] && source ~/.zsh/gpg.zsh
if command -v starship &>/dev/null; then
  eval "$(starship init zsh)"
elif [[ -d ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k ]]; then
  export ZSH_THEME="powerlevel10k/powerlevel10k"
  # resource oh-my-zsh to activate the theme
  source $ZSH/oh-my-zsh.sh <$TTY

  # Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
  # Initialization code that may require console input (password prompts, [y/n]
  # confirmations, etc.) must go above this block; everything else may go below.
  if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
  fi
  
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
  [[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
fi

if command -v sagecipher &>/dev/null; then
  export PYTHON_KEYRING_BACKEND=sagecipher.keyring.Keyring
  export KEYRING_PROPERTY_SSH_KEY_FINGERPRINT=$(sagecipher list-keys | awk '{print $2}')
fi

{{ if eq .chezmoi.os "linux" -}}
## Replace the SSH agent with GPG
export GPG_TTY=$(tty)
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent
gpg-connect-agent updatestartuptty /bye > /dev/null
{{- end -}}

{{ if eq .chezmoi.hostname .worklaptop -}}
export PATH="${PATH}:${HOME}/bin/HECtools"

alias start-tunnel="ssh -M -S ~/.ssh/LTS-socket.ctl -fNT {{ .terminalhost }}"

sapssh() {
  local HOSTNAME=${1}
  if [[ ${HOSTNAME:l} =~ "hec" ]]; then
    ssh ${1}.$(dc-finder.sh ${1}).hec.sap.biz
  else
    ssh ${1}
  fi
}

sroute() {
  sudo route add 192.168.1.0/24 192.168.183.1
  sudo route add 192.168.42.64/26 192.168.183.1
  sudo route add 10.183.0.0/26 192.168.183.1
  sudo route add 10.15.1.0/24 192.168.183.1
  sudo route add 10.15.100.0/24 192.168.183.1
  sudo route add 100.86.61.15/32 192.168.183.1
  sudo route add 100.76.167.33/32 192.168.183.1
}

droute() {
  sudo route delete 192.168.1.0/24
  sudo route delete 192.168.42.64/26
  sudo route delete 10.183.0.0/26
  sudo route delete 10.15.1.0/24
  sudo route delete 10.15.100.0/24
}

hroute() {
  sudo route add 192.168.1.0/24 192.168.1.1
  sudo route add 192.168.42.64/26 192.168.1.1
  sudo route add 10.183.0.0/26 192.168.1.1
  sudo route add 10.15.1.0/24 192.168.1.1
  sudo route add 10.15.100.0/24 192.168.1.1
}
{{- end -}}
