# ~/.gitconfig

{{- if eq .chezmoi.hostname .worklaptop }}
[includeIf "hasconfig:remote.*.url:git@github{{- .globaldomain -}}*/**"]
    path = .gitconfig-sap
{{- end }}
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = .gitconfig-personal
[includeIf "hasconfig:remote.*.url:git@git.sapstar.cc*/**"]
    path = .gitconfig-personal

[user]
	name = {{ .name | quote }}
{{- if ne .chezmoi.hostname .worklaptop }}
	signingkey = AE47445763C2B713
{{- end }}

[init]
  defaultBranch = main

[push]
  followTags = true

{{- if ne .chezmoi.hostname .worklaptop }}
[commit]
	gpgsign = true
{{- end }}

