{{ $workLaptop := promptStringOnce . "worklaptop" "What is hostname of your work laptop"}}
{{ $globalDomain := promptStringOnce . ".global" "What is domain of your GLOBAL domain" }}
# ~/.gitconfig

{{- if eq .chezmoi.hostname $worklaptop-name }}
[includeIf "hasconfig:remote.*.url:git@github.{{ $globalDomain }}*/**"]
    path = .gitconfig-sap
{{- end }}
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = .gitconfig-personal
[includeIf "hasconfig:remote.*.url:git@git.sapstar.cc*/**"]
    path = .gitconfig-personal

[user]
	name = {{ .name | quote }}
{{- if ne .chezmoi.hostname $worklaptop-name }}
	signingkey = AE47445763C2B713
{{- end }}

[init]
  defaultBranch = main

[push]
  followTags = true

{{- if ne .chezmoi.hostname $worklaptop-name }}
[commit]
	gpgsign = true
{{- end }}

