Host {{ .terminalhost }}
  User {{ .workuser }}
  ForwardAgent no
  SendEnv LANG LC_*
#  ControlMaster yes
#  ControlPath ~/.ssh/LTS-socket.ctl
#  ExitOnForwardFailure yes
#  ForkAfterAuthentication yes
#  SessionType none
#  RequestTTY no
  ServerAliveInterval 300
  LocalForward 26534 localhost:22
  {{ output "proxy-list-generator.sh" | trim }}
  DynamicForward 26535
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host localhost
  User {{ .workuser }}
  ForwardAgent yes
  SendEnv LANG LC_*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host *{{ .workdomain }}
  User {{ .workuser }}
  ForwardAgent no
  SendEnv LANG LC_*
  ProxyJump localhost:26534
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
