{{ if eq .chezmoi.username "hagyarod" -}}
Host *.roche.com
  User sxhagyad
  SendEnv LANG LC_*
  IdentityFile ~/.ssh/roche_ed25519
  ForwardAgent yes

{{ end -}}

{{ if ne .chezmoi.username "hagyarod" -}}
Host smilprlc*.sharpnet.sdac
  User hagyarod
  SendEnv LANG LC_*
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes
  {{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes

{{ end -}}
{{ end -}}


Host smilpd*.sharpnet.sdac
  SendEnv LANG LC_*
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes
  {{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes

{{ end -}}

Host *
  IdentityFile ~/.ssh/id_ed25519
  {{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end -}}

