{{ if .chezmoi.username eq "hagyarod" -}}
Host *.roche.com
  User sxhagyad
  SendEnv LANG LC_*
  IdentityFile ~/.ssh/roche_ed25519
  ForwardAgent yes
{{ end -}}

{{ if .chezmoi.username ne "hagyarod" -}}
Host smilprlc*.sharpnet.sdac
  User hagyarod
  SendEnv LANG LC_*
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end -}}
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes
{{ end -}}

Host smilpd*.sharpnet.sdac
  SendEnv LANG LC_*
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end -}}
  IdentityFile ~/.ssh/id_ed25519
  ForwardAgent yes

Host *
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
  AddKeysToAgent yes
{{ end -}}
   IdentityFile ~/.ssh/id_ed25519

